<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold]="!goldInactive" [disabled]="goldInactive" (click)="goldInactive = true">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="silverInactive" (click)="silverInactive = true">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="copperInactive" (click)="copperInactive = true">Copper</button> <hr>
   <button (click)="goldInactive = !goldInactive; silverInactive = !silverInactive; copperInactive = !copperInactive">Activate/Deactivate Buttons</button>
   <p style="text-decoration: underline;">Joke Buttons</p>
   <button [class.frustration]="!frustrationInactive" [disabled]="frustrationInactive" (mouseover)="frustrationInactive = true" (mouseout)="frustrationInactive = false">Frustration Incarnate!</button><br>
   <button class="catch" (mouseover)="catch($event)">Catch me!</button>
</div>